/* ===== FUENTE ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

/*  RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  ESTILO GENERAL */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/*  HEADER */
header {
    background-color: #111;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

nav a:hover {
    color: #ff4d6d;
}

/*BOTÓN REUTILIZABLE  */
.btn {
    background-color: #ff4d6d;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background-color: #e63950;
}

/*  HERO SECTION */
.hero {
    height: 90vh;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
                url('https://images.unsplash.com/photo-1520975918318-7a6b7f9b0a77');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.hero-content h2 {
    font-size: 48px;
    margin-bottom: 15px;
}

.hero-content p {
    margin-bottom: 20px;
}

/* ===== TABLA ===== */

table {
    width: 90%;
    margin: 40px auto;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

thead {
    background-color: #111;
    color: white;
}

th, td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
}

/* Zebra striping */
tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Hover effect */
tbody tr:hover {
    background-color: #ffe5ec;
    transition: 0.3s;
}

/* FOOTER */
footer {
    background-color: #111;
    color: white;
    text-align: center;
    padding: 15px;
}


/*  RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/*  HEADER */
header {
    background-color: #111;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: #ff4d6d;
}

/*  BOTÓN */
.btn {
    background-color: #ff4d6d;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
}

.btn:hover {
    background-color: #e63950;
}

/*  REGISTRO  */
.registro-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

.registro-card {
    background-color: white;
    padding: 30px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.1);
}

.registro-card h2 {
    text-align: center;
    margin-bottom: 20px;
}

.campo {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.campo input {
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.campo input:focus {
    border-color: #ff4d6d;
    outline: none;
}
.campo select {
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
}


/*  LOGIN  */

.login-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.login-card {
    width: 350px;
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.1);
    text-align: center;
}

.login-card h2 {
    margin-bottom: 20px;
}



